<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruitbook</title>
    <link rel="stylesheet" href="app.css?version=1">
    <script src="https://kit.fontawesome.com/b6779b58da.js" crossorigin="anonymous"></script> 
</head>
<body>

<div class="nav">
    <h1>Admin Page</h1>
    <p>Welcome  <%= firstname %></p>
</div>

<a href="/logout">Log Out</a>

</body>
</html>